.App {
  text-align: center;
  background-color: #3a506b;
  min-height: 100vh;
}

.App-header {
  background-color: #46546b;
  color: white;
  width: 100%;
}
.App-body {
  background-color: white;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}
span {
  color: white;
}
