.App {
  text-align: center;
  background-color: #3a506b;
  height: 100%;
}

.App-header {
  background-color: #46546b;
  color: white;
  width: 100%;
}
.App-body {
  background-color: white;
  height: 100%;
  width: 80%;
  margin: auto;
}
span {
  color: white;
}
.btn-custom {
  border: 2px solid #46546b !important;
  color: #46546b !important;
  padding: 0.4em 1em !important;
  text-align: center !important;
  display: inline-block !important;
  font-size: 1em !important;
  margin-top: 1em !important;
  margin-left: 45% !important;
  margin-bottom: 5em !important;
}

.btn:hover {
  background-color: #46546b;
  color: white !important;
}
